*{
    margin: 0;
    padding: 0;
}

button{
    align-items: center;
    padding: 25px;
    background: none;
    border: none;
}
.navbar{    
    display: flex;
    background-color: black;
}

.logo{
    width: 10%;
    align-content: center;
    border: 10px white;
}
.buttons{
    background-color: blanchedalmond;
    width: 40%;
    align-items: center;
    padding: 26px 30px;
}
.name{
    text-align: center;
    align-content: center;
    font-size: 1.5em;
padding: 20px;
width: 50%;
}
.Login{
    background-color: aquamarine;
}

.Register{
    background-color: aquamarine;
}

.Contact{
    background-color: aquamarine;
}

.GALLARY{
    background-color: aquamarine;
}

button:hover{
    border: 2px solid black;
    cursor: pointer;
}